.input-group {
  display: flex;
  flex-direction: column;

  .MuiFormControl-root,
  .MuiButton-root {
    width: 50%;
    margin-top: 1em;
    margin: 1em auto;
  }
}

.register-link {
  &:hover {
    cursor: pointer;
  }
}
